.home-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.home-container h1 {
  font-size: 65px;
  margin: 0.5em;
  align-self: center;
}

.intro-container {
  width: 75%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 1.15em;
  border-radius: 6px;
}

.intro-container p {
  font-size: 1.5em;
  padding: 1em;
  line-height: 40px;
}

.intro-img-container {
  width: 98%;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  margin: 1em 0;
  border-radius: 6px;
}

.intro-img-container p {
  display: block;
}

.img-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.img-container p {
  font-size: 1.5em;
  transition: opacity 0.3s ease;
  opacity: 0;
}

#img-1,
#img-2,
#img-3 {
  width: 400px;
  height: 400px;
  object-fit: scale-down;
  transition: transform 0.2s ease;
}

#img-1:hover,
#img-2:hover,
#img-3:hover {
  transform: translateY(-12px);
}

#img-1:hover + p,
#img-2:hover + p,
#img-3:hover + p {
  opacity: 1;
}

@media(max-width: 1000px) {

  .intro-container {
    width: 100%;
    height: 600px;
    align-self: center;
  }

  .intro-img-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    height: auto;
  }

  .img-container {
    border: 2px solid red;
    width: 100%;
    height: 300px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #img-1,
  #img-2,
  #img-3 {
  width: 200px;
  height: 200px;
  }

  .img-container p {
    font-size: 2em;
    margin-right: 1.5em;
  }  
}





