.projects-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.projects-title {
  font-size: 65px;
  margin: 0.5em;
 
}

.projects-summary {
  font-size: 1.5em;
  margin: 1.5em;
}

.projects-display-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.project-img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#project-title-1,
#project-title-2,
#project-title-3 {
  text-decoration: none;
  font-size: 2.5em;
  margin: 1em 0;
  color: inherit;
  transition: color 0.2s ease;
}

#project-title-1:hover,
#project-title-2:hover,
#project-title-3:hover {
  color: red;
}



.project img {
  object-fit: scale-down;
  width: full;
  height: 300px;
  border: 3px solid black;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project img:hover {
  transform: scale(1.05,1.05);
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}



.project-description-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 2em;
}

.project-description-title,
.project-tech {
  font-size: 2em;
  align-self: flex-start;
}

.project-description,
.tech-list {
  width: 50%;
  font-size: 1.5em;
  align-self: start;
}


@media(max-width: 1000px) {
  .project-img-container {
    flex-direction: column;
  }
  .project img {
    margin: 1em 0;
  }

  .project-description-container {
    height: 550px;
  }

  .project-description-title,
  .project-description,
  .project-tech,
  .tech-list {
    width: 100%;
  }

  .project-description-title,
  .project-tech {
    margin: 1em 0;
  }

  #project-title-1,
  #project-title-2,
  #project-title-3 {
    font-size: 1.5em;
  }
}